/* Main working CSS file. */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.onboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboard .welcome-message {
  text-align: center;
}

.onboard .logo {
  margin: auto;
  width: 100px;
  height: auto;
}

.onboard .tagline {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
}

.select-container select {
  margin: 25px 0 15px 0;
}

.select-container .form-group {
  display: flex;
  flex-flow: column;
}

.select-container .btn {
  max-width: 25%;
}

footer {
  position: absolute;
  height: 70px;
  width: 100%;
}

.button-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  line-height: 1;
}

.button-navigation i,
.button-navigation input {
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  transition: all 0.2s;
  border: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  cursor: pointer;
}

.button-navigation i:hover,
.button-navigation input:hover {
  opacity: 0.7;
  transition: all 0.2s;
}