@font-face {
    font-family: UbuntuMono;
    src: url('/fonts/UbuntuMono-Regular.ttf');
}
@font-face {
    font-family: PatrickHand;
    src: url('/fonts/PatrickHand-Regular.ttf');
}
@font-face {
    font-family: Tangerine;
    src: url('/fonts/Tangerine-Regular.ttf');
}
